html {
  color: rgb(51,51,51);
  font-family: "Fira Sans", sans-serif;
}

header {
  border-bottom: 1px solid #E8E8E8;
}

a {
  color: rgb(24, 99, 161);
}

.menu {
  ul {
    margin: 0;
    padding: 0;
    color: rgb(24, 99, 161);

    li {
      display: inline;
      padding-right: 10px;

      &::before {
        content: "/";
      }
    }
  }
}

.post {
  blockquote {
    margin-left: 0px;
    padding-left: 1.5rem;
    border-left: 4px solid hsla(0, 0%, 0%, 0.1);
  }

  h2,
  h3 {
    margin-top: 2rem;
  }

  .highlight pre {
    border-radius: 4px;
    padding: 1rem;
    overflow: scroll;
  }

  :not(pre) > code {
    font-weight: 400;
    color: rgb(102, 102, 102);
    border: 1px solid #eaeaea;
    background-color: #fafafa;
    padding: 2px;
    border-radius: 0.2em;
  }
}
