<header class="flex flex-column flex-row-l">
    <a href="/">
      <img class="mr4" src="/logo.png" width="90"/>
    </a>

    <div class="flex flex-column mt3 mt0-l">
      <h1 class="f2 athelas ma0">{{ .Site.Title }}</h1>
      <nav class="menu">
        <ul>
          <li><a href="{{ relref . "/posts" }}">Posts</a></li>
          <li><a href="{{ relref . "/about.html"}}">About</a></li>
          <li><a href="{{ "/posts/index.xml" | absURL }}" target="_blank" rel="noopener noreferrer">RSS</a></li>
          <li><a href="{{ .Site.Params.gitHubURL }}" target="_blank" rel="noopener noreferrer">GitHub</a></li>
          <li><a href="{{ .Site.Params.twitterURL }}" target="_blank" rel="noopener noreferrer">Twitter</a></li>
          <li><a href="{{ .Site.Params.linkedInURL }}" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
        </ul>
      </nav>
    </div>
</header>
